@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html{
	scroll-behavior: smooth;
}

.navbar{
	box-shadow: 2px 2px 10px #d2c5c5;
}

.navbar-light .navbar-brand {
    font-size: 35px;
    color: #44d644;
	font-weight: bold;
	text-shadow: 1px 5px 3px #e2dbdb;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(12, 9, 9, 0.9);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #05b993;
}

.title{
	
	padding: 200px 0 0 150px;
}

.box{
	width: 350px;
	height: 484px;
	box-shadow: 2px 2px 10px #d2c5c5;
	background-color: white;
	margin: 0 auto 20px auto;
}

.box h1{
	font-size:22px;
	font-weight: bold;
}

.experience{
	padding: 80px 0 0 100px;
}

ul li{
	list-style-position: inside;
	padding-bottom: 10px;
	color: black;
}
	
.stats h2{
	font-weight: bold;
}

.logos p{
	font-weight: bold;
}

footer{
	position: relative;
}
footer > #top{
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 25px;
	background-color: white;
	border: none;
	outline: none;
	color: green;
}

span{
	margin-right: 20px;
}

.hide{
	display: none;
}

/*//////////Media Queries/////////*/

@media (max-width: 600px){
	.title{
		padding: 100px 0 0 60px;
	}
}
